h1{
  font-family: 'Barrio', cursive;
}

p{
  font-family: 'Barrio', cursive;
  font-style: italic;
  font-weight: bold;
}

body{
  font-size: 20px;
}

#two{
  border: 1px solid black;
  width: 500px;
  height: 500px;
  font-size: 1.0em;
  text-align: justify;
}

h2{
  font-family: 'DancingScriptRegular';
  font-weight: normal;
  font-style: normal;
}
h1{
  text-align: center;
  text-shadow:
}
/* 1em = 16px
2em = 32px */
